
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - QA_byBuka</title>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="AllMyProblems" asp-route-id="Model.author">Мои опросы</a>
        <a asp-controller="Login" asp-action="Login">Выйти</a>
    </nav>
    @RenderBody()
</body>
</html>